body {
    /* background-color: #fbeab6; */
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
	color: #495057;
}

a:hover {
    text-decoration: none;
    color: #000000;
}

html, body {
   margin: 0;
   padding: 0;
   height: 100%;
}

#container {
   min-height: 100%;
   position: relative;
}

#body {
   padding-bottom: 117px;   /* Height of the footer */
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 117px;   /* Height of the footer */
}

/* TOP BAR */
.header-top-bar {
    padding: 4px 0px 0px 0px;
    background: #ffffff;
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}

#header-nav .topbar-left {
    float: left;
    padding: 6px 0px;
}

#header-nav .topbar-right {
    float: right;
    padding: 6px 0px;
}

ul.list-unstyled {
    margin-bottom: 0px;
}

#header-nav .topbar-left ul > li {
    display: inline-block;
    line-height: 12px;
    padding: 3px 12px 3px 0px;
}

#header-nav .topbar-right ul > li {
    display: inline-block;
    line-height: 12px;
    padding: 3px 0px 3px 12px;
}

.header-top-bar .cnt-block {
    float: right;
    padding: 6px 0px;
}

.header-top-bar .cnt-block .list-inline > li {
    display: inline-block;
}

.header-top-bar .cnt-block .list-inline > li > a {
    border: 0px;
    padding: 6px 15px;
    transition: all 0.2s linear 0s;
    display: inline-block;
}

.header-top-bar .cnt-block .list-inline > li > a:hover, .header-top-bar .cnt-block .list-inline > li > a:focus {
    text-decoration: none;
    color: #ffffff;
}

/* NAVBAR */
.brand-info-col#brand-wrapper {
    margin-left: 16px;
}

.logo-img-col#logo-wrapper {
    padding-left: 0;
    padding-right: 0;
    width: 150px;
}

/* div#name-location-phone {
    width: 70%;
} */

#header-nav {
    /* background-color: #657A6B; */
    background-color: #ffffff;
    padding-top: 0px;
}

#logo-img {
    background-image: url(/images/Logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 160px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    /* margin-left: 1rem; */
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: #000000;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

div#navbarSupportedContent {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.topbar-location-phone a span img {
    height: 20px;
    width: 20px;
}

.topbar-location-phone a span {
    color: #000000;
    /* margin-left: 16px; */
}

.topbar-location-phone a:hover, .topbar-location-phone a:focus {
    text-decoration: none;
}

.navbar-cart span.badge {
	color: #ffffff;
}

#nav-list a {
    text-align: center;
    font-size: 1.2em;
}

div.info-section {
	border-top: 1px solid rgba(0,0,0,.125);
	margin-top: 30px;
	padding-top: 20px;
}

/* FOOTER */
div#footer > footer.card-footer {
    background-color: rgb(255, 255, 255);
    border-top: none;
}

.useful-links {
    text-align: center;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid rgba(0,0,0,.125);
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.useful-links a.link-item {
    margin: 0px 5px;
}

/* FORMS */
.user-form {
	margin-top: 40px;
}

.form-group {
    margin-top: 1rem;
}

.input-icon {
    position: relative;
    display: block;
}

.input-icon > svg {
    position: absolute;
    top: 10px;
    left: .5rem;
}

.input-icon > .form-control {
    padding-left: 1.75rem;
}

.feather[width="24"] {
    width: 15px;
    height: 15px;
}



#carousel-box {
    margin-top: 1%;
    margin-bottom: 1%;
}

div.container h2 {
    margin-top: 15px;
}

#shop-tile, #offers-tile, #map-tile, #burger-night, #steak-break, #winemaker-series {
    height: 250px;
    width: 100%;
    position: relative;
    border: 2px solid #343f37;
    overflow: hidden;
    margin-bottom: 15px;
}

#shop-tile:hover, #offers-tile:hover, #map-tile:hover, #burger-night:hover, #steak-break:hover, #winemaker-series:hover {
    box-shadow: 0 1px 5px 1px #a8a4a4;
}

#shop-tile {
    background: url("/images/shop/shop-tile.jpg") no-repeat;
    background-position: center;

}

#offers-tile {
    background: url("/images/offers/offers-tile.jpg") no-repeat;
    background-position: center;
}

#burger-night {
    background: url("/images/events/burger-night.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

#steak-break {
    background: url("/images/events/steak-break.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

#winemaker-series {
    background: url("/images/events/winemaker-series.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

section.event-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

#shop-tile span, #offers-tile span, #map-tile span, #burger-night span, #steak-break span, #winemaker-series span {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.6em;
    color: #fff;
    background-color: #000;
    opacity: 0.7;
}

.card-footer div.row {
    margin-bottom: 30px;
}

#hours-section > span, #contact-section > span, #about-section > span {
    font-size: 1.1em;
}

div.text-center {
    font-size: 0.9em;
}

/* MENU SECTION */
section.menu-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

section.menu-section > span {
    font-size: 1.1em;
    font-weight: bolder;
}

section.menu-section p {
    margin-bottom: 0;
}

section.reservation-section {
    margin-bottom: 40px;
}

.grid-gap-3 {
    grid-gap: 1rem;
}
.grid-col-2 {
    grid-template-columns: repeat(2,1fr);
}
.grid {
    display: grid;
}

/* ADMINISTRATION */
div.admin-categories {
    margin-top: 40px;
    display: flex;  
    justify-content: center;  
    align-items: center;  
}

/* Large Devices*/
@media (min-width:992px) {
	.grid-col-lg-1 {
		grid-template-columns:repeat(1,1fr)
	}
	.grid-col-lg-2 {
		grid-template-columns:repeat(2,1fr)
	}
	.grid-col-lg-3 {
		grid-template-columns:repeat(3,1fr)
	}
	.grid-col-lg-4 {
		grid-template-columns:repeat(4,1fr)
	}
	.grid-col-lg-5 {
		grid-template-columns:repeat(5,1fr)
	}
	.grid-col-lg-6 {
		grid-template-columns:repeat(6,1fr)
	}
	.grid-col-lg-7 {
		grid-template-columns:repeat(7,1fr)
	}
	.grid-col-lg-8 {
		grid-template-columns:repeat(8,1fr)
	}
	.grid-col-lg-9 {
		grid-template-columns:repeat(9,1fr)
	}
	.grid-col-lg-10 {
		grid-template-columns:repeat(10,1fr)
	}
	.grid-col-lg-11 {
		grid-template-columns:repeat(11,1fr)
	}
	.grid-col-lg-12 {
		grid-template-columns:repeat(12,1fr)
	}
}

/* Medium Devices*/
@media (min-width: 768px) and (max-width: 991px) {
    /* #logo-img {
        background-image: url(/images/Logo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100px;
        height: 100px;
    } */

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        margin-left: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }

    #nav-list a {
        text-align: center;
        font-size: 1.4em;
    }

}

/* Small Devices*/
@media (min-width: 576px) and (max-width: 768px) {
    #nav-list a {
        text-align: center;
        font-size: 1.4em;
    }

    .topbar-location-phone a span img {
        height: 40px;
        width: 40px;
    }

    div.navbar-location {
        margin-right: 20px;
    }

    div.navbar-phone {
        margin-right: 20px;
    }
}

/* Extra Small Devices*/
@media screen and (max-width: 575px) {
    .navbar-brand h1 {
        font-family: 'Montserrat', sans-serif;
        font-weight: 900;
        color: #000000;
        font-size: 7vw;
    }

    #nav-list a {
        text-align: center;
        font-size: 1.4em;
    }

    .info-section section, section.menu-section {
        text-align: center;
    }

    .info-section section hr, .menu-section hr {
        width: 50%;
    }
}