<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head" />
<body>
	<div id="container">

		<!-- Header -->
		<div th:replace="fragments/layout :: header" />

		<!-- Main Content -->
		<div id="body">
			<div class="container page-content user-form">
				<div id="primary" class="primary-content">
					<div class="content-asset">
						<p>1. BY ENTERING THIS SITE YOU ACKNOWLEDGE AND AGREE TO THE
							FOLLOWING TERMS AND CONDITIONS. IF YOU DO NOT AGREE TO THESE
							TERMS, DO NOT USE THIS SITE.</p>
						<p>2. BY ENTERING THIS SITE YOU ACKNOWLEDGE AND AGREE THAT
							THIS SITE WILL ONLY BE CONSTRUED AND EVALUATED ACCORDING TO
							UNITED STATES LAW. IF YOU USE THIS SITE FROM OTHER LOCATIONS YOU
							ARE RESPONSIBLE FOR COMPLIANCE WITH ANY AND ALL APPLICABLE LOCAL
							LAWS. SHOE STORE MAKES NO REPRESENTATIONS THAT THE MATERIALS
							CONTAINED WITHIN THIS SITE ARE APPROPRIATE FOR LOCATIONS OUTSIDE
							THE UNITED STATES. ANY AND ALL INFORMATION CONTAINED IN THIS
							SITE, INCLUDING BUT NOT LIMITED TO INFORMATION REGARDING PRODUCTS
							AND SERVICES, APPLIES ONLY TO THOSE PROVIDED OR OFFERED WITHIN
							THE UNITED STATES.</p>
						<p>3. Shoe Store is the copyright owner of this site and no
							portion of this site; including but not limited to the text,
							images, audio or video, may be used in any manner, or for any
							purpose, without Shoe Store's express written permission,
							except as provided for herein. Without in any way waiving any of
							the foregoing rights, you may download one copy of the material
							on this site for your personal, non-commercial home use only,
							provided you do not delete or change any copyright, trademark or
							other proprietary notices. Modification or use of the material on
							this site for any other purposes violates Shoe Store's legal
							rights.</p>
						<p>4. By entering this site you acknowledge and agree that
							your use is at your own risk and that none of the parties
							involved in creating, producing, or delivering this site is
							liable for any direct, incidental, consequential, indirect, or
							punitive damages, or any other losses, costs, or expenses of any
							kind (including legal fees, expert fees, or other disbursements)
							which may arise, directly or indirectly, through the access to,
							use of, or browsing of this site or through your downloading of
							any materials, data, text, images, video or audio from this site,
							including but not limited to anything caused by any viruses,
							bugs, human action or inaction or any computer system, phone
							line, hardware, software or program malfunctions, or any other
							errors, failures or delays in computer transmissions or network
							connections.</p>
						<p>5. Although the specifications, features, illustrations,
							equipment and other information contained in the site are based
							upon up-to-date information, and while Shoe Store makes all
							reasonable efforts to ensure that all material on this site is
							correct, accuracy cannot be guaranteed and Shoe Store makes no
							warranties or representations as to its accuracy. All content
							information and materials contained in this site are provided to
							you "AS IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR
							IMPLIED.</p>
						<p>6. Do not post on this site, or transmit to this site, any
							pornographic, obscene, profane, defamatory, libelous,
							threatening, unlawful or other material which could constitute or
							encourage conduct that would be considered a criminal offense,
							give rise to civil liability, or otherwise violate any law or
							regulation. Notwithstanding the fact that Shoe Store or other
							parties involved in creating, producing, or delivering this site,
							may monitor or review transmissions, posting, discussions, or
							chats, Shoe Store and all parties involved in creating,
							producing or delivering this site, assume no responsibility or
							liability which may arise from the content thereof, including but
							not limited to claims for defamation, libel, slander, obscenity,
							pornography, profanity, or misrepresentation.</p>
						<p>7. By entering this site you acknowledge and agree that any
							name, logo, trademark, or servicemark contained on this site is
							owned or licensed by Shoe Store and may not be used by you
							without prior written approval. Shoe Store will aggressively
							enforce its intellectual property rights to the full extent of
							the law. Sound, graphics, charts, text, video, information, or
							images of places or people are either the property of Shoe
							Store or used on this site with permission. Your use of any of
							these materials is prohibited unless specifically provided for on
							the site. Any unauthorized use of these materials may subject you
							to penalties or damages, including but not limited to those
							related to violation of trademarks, copyrights, privacy, and
							publicity rights.</p>
						<p>8. Although this site may be linked to other sites, Shoe
							Store is not, directly or indirectly, implying any approval,
							association, sponsorship, endorsement, or affiliation with the
							linked site, unless specifically stated therein. By entering this
							site you acknowledge and agree that Shoe Store has not
							reviewed all the sites linked to this site and is not responsible
							for the content of any off-site pages or any other site linked to
							this site. Your linking to any other off-site pages or other
							sites is at your own risk.</p>
						<p>9. Shoe Store reserves the right to revise this legal
							information at any time and for any reason and reserves the right
							to make changes at any time, without notice or obligation, to any
							of the information contained on this site. By entering this site
							you acknowledge and agree that you shall be bound by any such
							revisions. We suggest periodically visiting this page of the site
							to review these terms and conditions.</p>
						<p>
							10.<br>
						</p>
						<p>
							<span class="bold">Write Us:</span>
						</p>
						<p>
							Shoe Store, Inc.<br> Attn: Customer Relations<br>
							7500 East or West Street.<br> Ristosville, MK 47715<br>
						</p>
						<p>
							<span class="bold">Call Us:</span>
						</p>
						<p>xxx.xxx.xxx</p>
						<p>
							<span class="bold">Email Us:</span>
						</p>
						<p>
							<a href="mailto:info@shoecarnival.com">info@shoestore.mk</a>
						</p>
						<p>The information contained in this web site is current as of
							the date indicated thereon or, if no date is indicated, as of
							November 1, 2006 and may no longer be accurate on the date of
							your review of the material. The Company disclaims any obligation
							to update these materials.</p>
						<p class="lastElement">For information concerning additional
							materials about the Company, please contact Shoe Store.</p>
					</div>
				</div>
			</div>
			<!--  End Container -->
		</div>
		<!-- Main Content End -->

		<!-- Footer -->
		<div th:replace="fragments/layout :: footer" />

	</div>
	<!-- Body Container End -->

	<!-- Scripts -->
	<div th:replace="fragments/layout :: scripts" />

</body>
</html>